.form-fild {
  position: relative;
  display: block;
  margin-bottom: 28px;
}
.field {
  display: flex;
  align-items: center;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(22px, -40%);

  transition: transform 250ms linear;

  font-size: 14px;

  color: #757575;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  color: #afb1b8;
  background-color: $primary-white-color;
}

.form-input {
  width: 100%;

  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  resize: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: $primary-text-color;
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: $accent-color;
  transform: translate(0, -40px);
}
.form-input:focus ~ .icon-modal {
  fill: $accent-color;
}
textarea {
  resize: none;
  padding: 16px;
}
.texteria {
  margin-bottom: 20px;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #212121;
  background: $primary-white-color;
  border-radius: 4px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  &:checked + .icon {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url("../img/icon-check.svg");
    background-size: contain;
    background-origin: border-box;
  }
}
.form-agree {
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  & .link {
    color: $accent-color;
  }
}
